body {
    background-image:url(http://cdn.pcwallart.com/images/the-color-sky-blue-wallpaper-3.jpg);
    color:black;
}


h1 {
    text-align: center;
}


p {
    width:40%;
    font-size:125%;
}

.box {
    padding: 10px;
    border: 15px solid lightblue;
    border-radius:15px;
    margin-left:15%;
    margin-right:15%;
    background-color: white;
}