.navbar a {
    display: inline-block;
    color: black;
    border: 2px solid black;
    text-decoration: none;
    padding: 5px;
    border-radius: 13px;
    font-size:20px;
    background-color: rgb(135,206,250);
}
.navbar li {
    list-style: none;
}
.navbar a:hover{
    background-color: blue;
} 